In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from preproccesing import preprocces
from collections import Counter
import fasttext
import fasttext.util
from gensim.models import FastText
import numpy as np
import transformation

In [2]:
df = pd.read_csv('../../pricerunner_aggregate.csv')

In [3]:
df.columns

Index(['Product ID', 'Product Title', ' Merchant ID', ' Cluster ID',
       ' Cluster Label', ' Category ID', ' Category Label'],
      dtype='object')

In [4]:
df[' Category Label'].unique()

array(['Mobile Phones', 'TVs', 'CPUs', 'Digital Cameras', 'Microwaves',
       'Dishwashers', 'Washing Machines', 'Freezers', 'Fridge Freezers',
       'Fridges'], dtype=object)

In [5]:
df.head()

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones

In [6]:
df1 = preprocces(df)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/enriquevazquez/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df.head()

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones

In [8]:
df1.head()

,Category ID,Category Label,words
0,0,Mobile Phones,"[apple, iphone, plus, gb, silver]"
1,0,Mobile Phones,"[apple, iphone, plus, gb, spacegrau]"
2,0,Mobile Phones,"[apple, mq, iphone, plus, gb, mp, sim, free, s..."
3,0,Mobile Phones,"[apple, iphone, plus, gb, space, grey]"
4,0,Mobile Phones,"[apple, iphone, plus, gold, gb, unlocked, sim,..."

In [9]:
dic = {}
for i in range(len(df)):
    y = df1.loc[i,'Category ID']
    if y not in dic.keys():
        dic[y] = df.loc[i,' Category Label']

In [10]:
dic

{0: 'Mobile Phones',
 1: 'TVs',
 2: 'CPUs',
 3: 'Digital Cameras',
 4: 'Microwaves',
 5: 'Dishwashers',
 6: 'Washing Machines',
 7: 'Freezers',
 8: 'Fridge Freezers',
 9: 'Fridges'}